In [1]:
import pandas as pd
import numpy as np

## Read in excel files

In [2]:
df_2019 = pd.read_excel('data/2019 SALES.xlsx')

In [3]:
df_2018 = pd.read_excel('data/2018 SALES.xlsx')

## Check Tables

In [4]:
df_2018.head()

,Item ID,Description,Customer ID,Customer Name,Type,Date,Quantity,Unit Price,Invoice No.
0,SHRTWT,SHORT WEIGHT,GAF001,"TL Foods, Inc.",Invoice,2018-01-02,-2000.0,0.45,10576
1,C10017,Chicken Jumbo Leg #40,GAF001,"TL Foods, Inc.",Invoice,2018-01-02,40000.0,0.45,10576
2,C10021,Chicken Leg Meat Fresh #40,JOY001,"Joy Fresh Marketing World, Inc.",Invoice,2018-01-02,1600.0,1.01,231265
3,C10007,Chicken Breast Meat Fresh #40,JOY001,"Joy Fresh Marketing World, Inc.",Invoice,2018-01-02,80.0,1.09,231265
4,C10021,Chicken Leg Meat Fresh #40,CIN001,Cindy,Invoice,2018-01-02,1200.0,1.00,231266

In [5]:
df_2019.head()

,Item ID,Description,Customer ID,Customer Name,Type,Date,Quantity,Unit Price,Invoice No.
0,C10021,Chicken Leg Meat Fresh #40,JOY001,"Joy Fresh Marketing World, Inc.",Invoice,2019-01-02,960.0,1.09,24913
1,C10021,Chicken Leg Meat Fresh #40,YOS003,Yosamite Valley Beef Distributors,Invoice,2019-01-02,800.0,1.09,24914
2,C10036,Chicken Thigh Meat Fresh #40,YOS003,Yosamite Valley Beef Distributors,Invoice,2019-01-02,120.0,1.19,24914
3,C10021,Chicken Leg Meat Fresh #40,EXP001,Express Provisions Maet & Produce,Invoice,2019-01-02,440.0,1.09,24915
4,C10036,Chicken Thigh Meat Fresh #40,PVO001,"Pivo Management, Inc.",Invoice,2019-01-02,120.0,1.19,24916

## Check shape

In [6]:
df_2018.shape

(33771, 9)

In [7]:
df_2019.shape

(21909, 9)

## Merge Tables

In [9]:
df = pd.concat([df_2018,df_2019])

In [10]:
df.shape

(55680, 9)

In [11]:
df.head()

,Item ID,Description,Customer ID,Customer Name,Type,Date,Quantity,Unit Price,Invoice No.
0,SHRTWT,SHORT WEIGHT,GAF001,"TL Foods, Inc.",Invoice,2018-01-02,-2000.0,0.45,10576
1,C10017,Chicken Jumbo Leg #40,GAF001,"TL Foods, Inc.",Invoice,2018-01-02,40000.0,0.45,10576
2,C10021,Chicken Leg Meat Fresh #40,JOY001,"Joy Fresh Marketing World, Inc.",Invoice,2018-01-02,1600.0,1.01,231265
3,C10007,Chicken Breast Meat Fresh #40,JOY001,"Joy Fresh Marketing World, Inc.",Invoice,2018-01-02,80.0,1.09,231265
4,C10021,Chicken Leg Meat Fresh #40,CIN001,Cindy,Invoice,2018-01-02,1200.0,1.00,231266

## New Column for Invoice Total

In [12]:
df['Invoice Total'] = df['Quantity'] * df['Unit Price']

In [13]:
df['Invoice Total'].sum()

38392110.0883916

## Which is the most popular item ordered?

In [14]:
df.Description.value_counts()

Chicken Leg Meat Fresh #40        12002
Chicken Breast Meat Fresh #40      4584
Beef Bone #50                      3116
Chicken  Breast Bone #40           2802
Chicken Jumbo Leg #40              2743
Chicken Thigh Meat Fresh #40       2743
Pork Chop (End Cut) #30            1645
Chicken Leg Meat-Skin On #40       1610
Beef Drop Flank PALO               1602
Beef Eye Round                     1274
Pork  Bone                         1100
Beef Leg Tendon #11                1056
Beef Tenderloin                     938
Beef Brisket IBP                    830
Pork Neck Bones                     758
Pork Butts - Boneless (IBP)         717
Pork Bellies                        613
Beef Tripe #22                      581
Pork Spare Ribs                     509
Chicken Mid Joint Wing #44.09       501
Beef New York Strip                 486
Pork Fat                            475
Orange Chicken (Colonel)            452
Chicken Leg Bone #40                440
Beef Short Rib (Sliced) #10 -A      425
Jumbo Whole Wings                   412
Pork Hock                           387
Pork Collar Schneider               386
Beef Brisket (Point) CV.            385
8-10 Block Basa Fillet              357
                                  ...
Chicken Eggroll 1.5 Oz.               4
Suadero (P)                           3
Chicken Liver                         3
Chicken Breast Meat Sliced #40        3
Beef Leg Tendon #11.02 IBP            3
Pork Picnic                           3
Chicken Breast Meat Diced #40         3
Lamb Shoulder Bnls Def.               3
6-8 Block Basa Fillet                 3
Chicken Roaster Wing                  2
Chicken Drummettes                    2
Pork Back Rib (Baby Back)             2
Beef Top Sirloin                      2
Duck                                  2
Chicken Whole Wing #40                2
Beef Banana Shank (R)                 2
Pork Chop (End Cut) #10               2
Orange Pork Fritters #10              1
Duck Legs                             1
Gatorscal Tape                        1
Seafood Mix                           1
Salt                                  1
Pork Eggroll 1.5 Oz.                  1
Orange Chicken 40 lbs/cs.             1
Pork Tails                            1
Beef Knuckle Bone                     1
Pork Butts - Bone In (F)              1
Pork Leg Bones                        1
CPRIDE THG                            1
Pork Butt Canada                      1
Name: Description, Length: 173, dtype: int64

## Which Customer has highest order count?

In [15]:
df['Customer Name'].value_counts()

Capital Seafoods Group                     5417
Pho Pasteur                                3622
S & I Trading Co.                          2548
Pho Legend, Inc.                           2206
WILL CALL                                  1922
Bolsa Meat                                 1783
Quan Nem Ninh Hoa                          1576
JPT Trading Co., Inc.                      1455
T&A                                        1439
LG Food                                    1430
AVO Trading, Inc.                          1297
C & H Company                              1291
Taiwah Trading Corp.                       1202
Yosamite Valley Beef Distributors          1145
Global Foods 121                           1036
Peter's Supplies/H&S                        980
CPG FOODS, LLC                              958
Brilliant Trading Corp.                     898
J.R. Republic, Inc.                         890
Viet Huong                                  877
Delta Food Compay                           824
Pivo Management, Inc.                       822
JW Foodservice, Inc.                        818
Cab Meat Market                             813
National Grocers Corporation                777
Lucky Star                                  697
LCK Trading company                         627
Joy Fresh Marketing World, Inc.             593
D & B Foods                                 590
M & L Food Co., Inc.                        588
                                           ...
MEX-SEAFOOD, INC.                             9
Asia World Food Wholesales                    9
Hunter Foods                                  7
LA Produce                                    7
Silk, Inc. DBA Mandalay Express               6
El Diablo                                     5
Good Deal Supermarket                         4
United Buying Group, Inc.                     4
Richwell Group Inc.                           4
EG Meat                                       3
Ming Hong International                       3
Florence Meat, Co.                            2
Canton Food Company                           2
Mr. T. Meat Market                            2
Unibright Food, Inc.                          2
Lunch Truck                                   2
Light House Wholesale Seafood, Inc.           2
Peppers Thai Cuisine                          2
Chi Hing Food Sevices, Inc.                   2
Leyen Food, LLC                               1
Union Food Trading                            1
Lax-C, Inc.                                   1
Sunny Meat, Inc.                              1
Marketon, Inc.                                1
Sysco Food Service Of Los Angeles, Inc.       1
SUPREMME                                      1
Baily Food Nevada LLC                         1
Nem Nuong Khanh Hoa                           1
L.A. Union Sales                              1
Great Wall Seafood LA.LLC                     1
Name: Customer Name, Length: 163, dtype: int64

## Why are there negative quantities?

In [16]:
df.Quantity.describe()

count    55680.000000
mean       621.276481
std       2211.093821
min     -37240.000000
25%         65.977500
50%        180.000000
75%        560.000000
max      40000.000000
Name: Quantity, dtype: float64

## Remove Outliers

In [17]:
df = df[df['Quantity']>0]

In [18]:
df.Quantity.describe()

count    54974.000000
mean       638.595551
std       2212.113239
min          1.000000
25%         68.022500
50%        193.750000
75%        560.000000
max      40000.000000
Name: Quantity, dtype: float64

## Volume and Aggregate Sales 
+ Description
+ Customer

In [25]:
grouped = df.groupby('Description').sum().sort_values('Invoice Total',ascending=False)

In [32]:
print('Top Products by Gross Sales')
grouped.head()

Top Product by Gross Sales

                                  Quantity    Unit Price  Invoice Total
Description
Chicken Leg Meat Fresh #40     12669724.00  11039.946498   1.155731e+07
Chicken Jumbo Leg #40           6848754.70   1461.969381   3.162567e+06
Chicken Breast Meat Fresh #40   2119259.00   5148.231125   2.267647e+06
Beef Flap Meat (S)               329013.77    376.130000   1.568929e+06
Chicken Thigh Meat Fresh #40    1117445.00   3203.205000   1.300815e+06

In [27]:
grouped['Invoice Total'].sum()

38739340.46455163

In [28]:
df[df['Description']=='Beef Tendon Ball']['Invoice Total'].sum()

24373.36

### By Customer

In [29]:
customer_grouped = df.groupby('Customer Name').sum().sort_values('Invoice Total',ascending=False)

In [33]:
print('Top 10 Customers by Gross Sales')
customer_grouped.head(10)

Top 10 Customers by Gross Sales

                           Quantity    Unit Price  Invoice Total
Customer Name
JW Foodservice, Inc.    2644267.220   2090.440000   6.949741e+06
TL Foods, Inc.          5856800.000     71.570000   2.643550e+06
CPG FOODS, LLC          1519234.900   1631.879989   1.429926e+06
Peter's Supplies/H&S    1418400.600   1314.108000   1.323036e+06
D & B Foods             1323082.040    530.070000   1.203932e+06
Minh's Meat Co.         1076804.800    277.340000   1.072107e+06
Capital Seafoods Group   568541.658  10414.843782   1.022759e+06
J.R. Republic, Inc.     1021315.190   1138.210000   1.018132e+06
Bolsa Meat               967705.180   2262.820192   9.718994e+05
Randalls Food, Inc.     1001400.000    188.250000   9.601940e+05